<?php header('Content-Type: text/html; charset=UTF-8'); ?>
<!DOCTYPE html>
<html>
	<head>
		<title><?php echo $title ?> &mdash; Wiki &mdash; Cover</title>
		<style>
		html, body {
			font: 16px/24px sans-serif;
			margin: 0;
			padding: 0;
		}

		form {
			margin: 0;
			padding: 0;
		}

		.header {
			background: #C60C30;
			color: white;
			font-size: 32px;
			line-height: 96px;
			padding: 0 1em;
		}

		.header .logo {
			width: 200px;
			height: 65px;
			vertical-align: middle;
			margin-right: 1em;
		}

		.header h1 {
			display: inline;
			font-size: 1em;
		}

		.header form {
			display: inline;
		}

		.header .session,
		.header .search {
			float: right;
			font-size: 0.5em;
			margin-left: 1em;
		}

		.content {
			padding: 0 2em 2em 2em;
		}

		.login input,
		.search input {
			font-size: inherit;
			padding: 4px;
			border: 1px solid silver;
			border-radius: 4px;
			font-size: inherit;
		}

		.button,
		.login button {
			font: inherit;
			height: 28px;
			line-height: 1em;
			padding: 4px 12px;
			margin-right: 0;
			color: #333;
			background-color: #fff;
			text-align: center;
			cursor: pointer;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-user-select: none;
			text-decoration: none;
		}

		.button:hover,
		.login button:hover {
			background-color: #ebebeb;
			border-color: #adadad;
		}

		.content .login label {
			display: block;
			margin-bottom: 1em;
			font-weight: bold;
		}

		.content .login label input {
			display: block;
			width: 200px;
		}

		.login.hidden {
			display: none;
		}

		</style>
	</head>
	<body>
		<div class="header">
			<a href="//www.svcover.nl/"><img class="logo" src="https://sd.svcover.nl/Logos/vereniging/white/cover_logo_white_small.png"></a>
			<h1>Wiki</h1>
			<form method="get" action="/:search" class="search">
				<input type="search" name="q" placeholder="Search…">
			</form>
			<?php echo cover_session_status() ?>
		</div>
		<div class="content">
			<?php echo $content ?>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script>
			// Hide the login fields till the log in-link is clicked
			$('.header .login').addClass('hidden');

			$('#login-link').click(function(e) {
				e.preventDefault();
				$('.header .login').toggleClass('hidden');
				$('.header .login input[name=email]').get(0).focus();
				$(this).hide();
			});
		</script>
	</body>
</html>