<?php header('Status: 401 Unauthorized'); ?>

<?php if ($error): ?>
<p class="error">Log in failed: <?=htmlspecialchars($error)?></p>
<?php endif ?>

<form action="<?=link_page(':login')?>" method="post" class="login">
	<label>E-mail address: <input type="email" name="email" placeholder="e-mail address"></label>
	<label>Password: <input type="password" name="password" placeholder="password"></label>
	<input type="hidden" name="path" value="<?=htmlspecialchars($path, ENT_QUOTES)?>">
	<button type="submit">Log in</button>
</form>